<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<article class = "wrapper">
{% block content %}

<body>

<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/add_opening">Add new opening</a></li>
  <li><a href="/show_games">Show all games</a></li>
</ul>

<form id="inform" action="/add_opening" style="max-width:500px;margin:auto" method="post">
    <h2>Add opening</h2>
    <div class="input-container">
      <input class="input-field" name="name"  type="text" placeholder="Name">
    </div>
  
    <div class="input-container">
      <input class="input-field" name="eco_code" type="text" placeholder="Eco code">
    </div>
    
    <div class="input-container">
      <input class="input-field" name="moves" type="text" placeholder="Initial moves">
    </div>
  
    <button id="sendBtn" type="submit" value="submit" class="btn">Submit</button>
  </form>
</body>
{% endblock %}
</article>
</html>