<!doctype html>
<html lang="en">

<head>

<!-- Required CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css">

</head>

<body>

<table class ="table table-hover" id ="table" data-toggle="table" data-url="localhost:8084/openings">
    <thead>
        <tr>
            <th data-field="name">Name of opening</th>
            <th data-field="eco">Eco code</th>
            <th data-field="moves">Initial moves (1.e4 e5 2.Sf3 Sc6 ...) </th>
        </tr>
    </thead>
</table>
</body>

<!-- Required js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script>
    $.getJSON('http://localhost:8084/openings', function(data) {
    $(table).bootstrapTable({op_data: data});
});
</script>

</html>