<!doctype html>
<html lang="en">
{% extends "add_opening.html" %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css">

</head>

<body>
<ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/add_opening">Add new opening</a></li>
    <li><a href="/show_games">Show all games</a></li>

    <li>
      <form class="form-check form-check-inline" action="/" method="post" style="padding-top: 2%;">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
</ul>
<div class="table-wrapper-scroll-y my-custom-scrollbar opacity-10">
  <table class ="table table-hover table-dark" id ="table" data-toggle="table">
    <thead>
        <tr>
            <th data-field="name">Name of opening</th>
            <th data-field="eco_code">Eco code</th>
            <th data-field="moves">Initial moves (1.e4 e5 2.Sf3 Sc6 ...) </th>
            <th data-field="options"> Options</th>
        </tr>
    </thead>
    <tbody>
        {% for opening in openings %}
          <tr>
            <td>{{ opening.name }}</td>
            <td>{{ opening.eco_code }}</td>
            <td>{{ opening.moves }}</td>
            <td>
              <a href="add_game/{{ opening.name }}" class="btn btn-outline-primary btn-sm" role="button"> Add game </a>
              <a href="edit/{{ opening.name }}" class="btn btn-outline-primary btn-sm"role="button"> Edit opening </a>
              <a href="delete/{{ opening.name }}" class="btn btn-outline-danger" role="button"> Delete opening </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
</body>

<!-- Required js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>

</html>
{% endblock %}
