<!doctype html>
<html lang="en">
{% extends "add_opening.html" %}
{% block content %}
<head>
<style>
.my-custom-scrollbar {
  position: relative;
  height: 100%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

#search-bar{
  margin-top: auto;
  margin-bottom: auto;
}
table {
  background: url("https://img.freepik.com/free-vector/gradient-black-background-with-realistic-elements_23-2149158433.jpg?w=1380&t=st=1667857947~exp=1667858547~hmac=eca350e26e42294c8d2f0b6ef62d7a6b2b70dd162b3e909e24cf4225dfe31f22");
}
</style>
<!-- Required CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css">

</head>

<body>
<ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/add_opening">Add new opening</a></li>
    <li><a href="/show_games">Show all games</a></li>
    <li>
      <form class="form-check form-check-inline" action="/show_games" method="post" style="padding-top: 2%;">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
</ul>
<div class="table-wrapper-scroll-y my-custom-scrollbar opacity-10">
  <table class ="table table-hover table-dark" id ="table" data-toggle="table">
    <thead>
        <tr>
            <th data-field="white">White</th>
            <th data-field="black">Black</th>
            <th data-field="opening">Opening</th>
            <th data-field="moves">Moves</th>
            <th data-field="result">Result</th>
            <th data-field="options">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
          <tr>
            <td>{{ game.white }}</td>
            <td>{{ game.black }}</td>
            <td>{{ game.opening }}</td>
            <td>{{ game.moves }}</td>
            <td>{{ game.result }}</td>
            <td>
                <a href="edit/game/{{ game._id }}" class="btn btn-outline-primary btn-sm"role="button"> Edit game </a>
                <a href="delete/game/{{ game._id }}" class="btn btn-outline-danger" role="button"> Delete game </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
</body>

<!-- Required js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>

</html>
{% endblock %}
